@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(12, 73, 102) url("../image/background.jpg") no-repeat;
  background-size: cover;
  background-position: center center;
}

.container {
  width: 420px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.container h2 {
  font-size: 3.6rem;
  text-align: center;
  margin: 10px 0;
}

.input-box {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1.6rem;
  padding: 0 40px 0 5px;
}

.input-box input::placeholder {
  color: rgba(255, 255, 255);
}

.input-box i {
  position: absolute;
  right: 15px;
  top: 25%;
  font-size: 2rem;
}

.wrap-info {
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  padding: 15px 0;
}

.wrap-info label input {
  accent-color: #fff;
  margin-right: 3px;
}

.wrap-info a:hover {
  text-decoration: underline;
}

.container button {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  color: #333;
  font-weight: 600;
  cursor: pointer;
}

.register {
  font-size: 1.45rem;
  text-align: center;
  margin: 20px 0 15px;
}

.register a {
  font-weight: 600;
}

.register a:hover {
  text-decoration: underline;
}

#registration {
  display: none;
}

.login-error,
.register-error {
  font-size: 1.2rem;
  font-weight: 600;
}